@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');



$globalFont: "Montserrat", sans-serif;
$baseFont: "Lora", serif;


$black: #000;
$white: #fff;
$borderclr: #333333;
$grey: #F2F2F2;
$black11: #111111;