@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');



$globalFont: "Montserrat", sans-serif;
$baseFont: "Lora", serif;


$black: #000;
$white: #fff;
$borderclr: #333333;
$grey: #2D3748;
$green: #00BD2A;
$lightgrey: #666666;
$greyC0 : #A0AEC0;
$greengradient: linear-gradient(79.16deg, #B9FAEA 13.46%, #68FCB5 51.45%, #71F433 90.15%);
$black11: #111111;
$black19: #191919;
$darkgreen: #004B11;
$greyAB: #ADB3AB;
$lightpurple: #F3F1FF;