@use "../../../../assets/theme/var" as *;

.banner {
  background-image: url("../../../../assets/images/bannerimg.jpeg");
  background-size: cover;
  min-height: 80vh;
  background-position: center;
  position: relative;
  display: flex;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10rem;
  z-index: 2;

  &::after {
    background-color: rgba(0, 0, 0, .2);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
  }

  &__title {
    font-size: 6rem;
    font-weight: 500;
    color: $white;
    text-align: center;
    margin: 0 auto;
    max-width: 80rem;
    line-height: 1.2;

    @media (max-width:991px) {
      font-size: 4rem;
    }
  }

  & h3 {
    text-align: center;
    color: $white;
    margin-top: 2rem;
    margin-bottom: -2rem;
  }
}

.about {
  background-color: $grey;


  &__heading {
    h2 {
      font-size: 4rem;
      font-weight: 500;
      color: $black;
      margin-bottom: 2.4rem;

      @media (max-width:991px) {
        font-size: 3rem;
      }
    }
  }

  &__desc {
    p {
      font-size: 1.8rem;
      font-family: $baseFont;
      line-height: 1.7;
      color: #4C4C4C;

      @media (max-width:767px) {
        font-size: 1.6rem;

      }
    }
  }
}